<div class="m-4 text-center">
  <div class="row">   
    <div class="col-lg-9">
        <img src="{{team.logo}}" alt="Image not found" class="team-logo team-logo-detail" />
        <h2>
            {{team.name}}
        </h2>
        <h4>
            Sô trần đã đá: {{team.matches_played}}
        </h4>
        <h4>
            Điểm {{team.points}}
        </h4>
        <button>
        Theo dõi đội bóng
        </button>
    </div>
  </div>
</div>